<body onload="mostrarPopup()">

    <header>
        <div class="container-grid posicionamento-header">
            <a href="#"><img class="logo" src="assets/img/Game logo 2 (1).png" alt="logo"></a>
            <nav id="menu" class="menu">
                <a href="#">inicio</a>
                <a href="#">jogos</a>
                <a href="#">noticias</a>
                <a href="#">contato</a>
                <a href="login.html">login</a>
            </nav>
            <a href="#" id="barras"><img class="barras" src="assets/img/barramenu.png" alt="menu de barras"></a>
        </div>
    </header>
   
     <div id="carrosel" class="carrosel">
        <img src="assets/img/bannercarrosel.jpg" alt="Banner Pilotos" >
        <img src="assets/img/consoles.jpg" alt="Banner Pilotos" >
        <img src="assets/img/banner.png" alt="">
    </div> 

      <!-- <section class="secao-banner">
          
    </section>    -->
    <section class="secao-conteudo">
        <div class="conteudo container">
          
            <div class="row ">
                <div class="texto col">

                <h3>Novidades</h3>
                <p>Não perca tempo, temos teclados, mouses, cadeiras gamer.grande promoção pra você nosso cliente vip, faça agora seu cadastro e receba nossas promoções</p>
                <div class="botao">
                    <a href="#">Clique aqui</a>
    
                </div>
                   
                </div>
                
                <div class="imagem col">
                    <img src="/assets/img/homemaranha.jpg" alt="">

                </div>
                

            </div>
           

        </div>

    </section>


    <div class="secao-galeria ">
        <div class="galeria  ">
            <p>nossos produtos</p>

        </div>
    </div>

    <section class="secao-fotos">
        <div class="fotos-jogos container ">
            <div *ngFor="let noticias of listaSecaoJogos" class="fotos">
                
                <a href="#"><img  [src]=SecaoJogos.imagem  alt="" /></a>
               
                <!-- <a href="#"><img src="assets/img/imagem 7.png"  alt="" /></a>
               
                <a href="#"><img  src="assets/img/imagem 1.png"  alt="" /></a> -->
                
            </div>
            <div class="valor">
                <h3>{{SecaoJogos.titulo}}</h3>
                <p>{{SecaoJogos.descricao}}</p>
                <!-- <p>Console R$200,00</p>
                <p>Xbox R$300,00</p> -->

            </div>

        </div>
       
    </section>
    
       

    <section class="secao-rodape ">
        <div class="rodape container " >
            <div class="informativos ">
                <h2>Suporte</h2>
                <a href="#">Fale conosco</a>
                <a href="#">Troca de produtos</a>  
                <a href="#">Sac</a>  
                    
            </div>
            <div class="informativos">
                <h2>Conta</h2>
                <a href="#">Minha Conta</a>
                <a href="#">Status de pedido</a>
                <a href="#">Meus produtos</a>
                <a href="">Login</a>

            </div>
            <div class="caixa ">
                <h2>Cadastre aqui seu e-mail</h2>
                <form action="">
                    <input id="campo-email" type="email" placeholder="E-mail" required>
                    <button onclick="enviarEmail()">Cadastrar</button>
                </form>

            </div>  
            <div class="redes">
                <h2>Fale Conosco</h2>
                <a href="#">Facebook</a>
                <a href="">Twitter</a>
                <a href="">Instagram</a>
                <a href="">Youtube</a>

            </div>

        </div>
            

    </section>
    

     <!-- <script>
        let menu = document.getElementById("menu");

        function mostrarMenu() {
            if (menu.style.display != "flex") {
                menu.style.display = "flex"
            } else {
                menu.style.display = "none"
            }

        }
    </script>  -->

    <script src="js/jquery-3.6.0.js"></script>
    <script src="js/script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>